/* shared style  */
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.primary-color{
    color: #FD6E0A;
}
.primary-btn{
    padding: 18px 35px;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
}



/* nav bar */

.nav-title{
    color: #181818;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    font-weight: 800;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
}

nav ul{
    display: flex;
    list-style: none;
    align-items:center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #474747
}

/* banner */
.header{
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-intro{
    color: #474747;
    font-size: 45px;
    font-weight: 500;   
}

.banner-name{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}
.details{
    color: #757575;
    margin: 15px 0px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.Contact-btn{
    Background: #FFF8F3;
    border: 2px solid;
    border-color: #FD6E0A ;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #FD6E0A;
}
.banner .propic{
    width: 500px;
}
.banner-content{
    max-width: 500px;

}

/* main section styles */

/* about section  */
.aboutme-box{
    background-color: #FFF8F3;
    width: 65%;
    margin: 150px auto;
    max-width: 1150px;
    padding: 130px 150px;
    text-align: center;
}

.title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.info{
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

/* what I do section */
.my-works{
    margin: 150px auto;
    width: 65%;
    max-width: 1150px;
    padding: 130px 150px;
    text-align: center;

}

/* skill set  */

.skillset{
    display: flex;
    margin: 30px auto;
    width: 50%;
    justify-content: center;
}
.skill{
    padding: 30px;
    margin: 20px;
    text-align: left;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-title{
    margin: 30px 60px 20px 0px;
}
.skill>p{
    color:#757575
}

/* Summery of resume */
.summery{
    max-width: 1150px;
    width: 65%;
    margin: 0px auto;
    align-items: center;
}
.column{
    display: flex;
}
.resume-title{
    margin-top: 50px;
    margin-left: 10px;
    color: #474747;
    font-size: 30px;
}
.resume-info-name{
    color: #474747;
    font-size: 25px;
}
.resume-info-subtitle{
    color: #757575;
    font-size: 20px;
}
.resume-info-des{
    color: #757575;
    font-size: 16px;
    margin-top: 10px;
}
.download{
    text-align: center;
    margin-top: 50px;
}
.summery hr{
    color: #D1D1D1;
    margin: 20px;
}

/* footer section  */
footer{
    background-color: #FFF8F3;
}

.footbox{
    text-align: left;
    padding: 100px;
    width: 65%;
    margin: 150px auto 0px;
    display: flex;
    gap: 100px;
}

.foot-title{
    color: #181818;
    text-align: left;
    font-size: 35px;
    font-weight: 700;
}

.col{
    width: 50%;
}

.social-links a{
    margin-right: 25px;
    margin-top: 20px;
}

/* form  */

.contact input[type="text"],input[type="email"],
textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    width: 100%;
    border: 0;
}



@media screen and (max-width:576px){
    nav{
        flex-direction: column;
        padding: 20px;
    }
    nav ul{
        flex-wrap: wrap; 
        justify-content: center;
        margin-top: 10px;
    }

}
